* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
}

.general-container {
  width: 90vw;
  background-color: rgba(140, 218, 211, 0.45);
  border: 2px solid rgba(140, 218, 211, 0.92);
  margin: 1.5rem auto;
  min-width: 256px;
}

#title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 0;
}

#container-cronometro {
  height: 40vh;
}

#cronometro-visor {
  width: 90%;
  height: 10vh;
  background-color: white;
  border: 2px solid rgba(140, 218, 211, 0.92);
  margin: 1rem auto;
}

.container-numbers {
  text-align: right;
  vertical-align: bottom;
  margin: 2rem 2rem 0 0;
}

.number {
  font-size: 2.5rem;
  font-style: italic;
}

#container-botoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  height: 10vh;
  background-color: white;
  margin: 4rem auto;
}

.botao {
  width: 100%;
  text-align: center;
}

#botao-iniciar {
  background-color: rgba(34, 235, 34, 0.92);
}

#botao-zerar {
  background-color: rgba(164, 146, 146, 0.41);
}

.botao h2 {
  margin: 2rem auto;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .botao h2 {
    font-size: 2.5rem;
  }

  .number {
    font-size: 3rem;
  }

  #title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .botao h2 {
    font-size: 3rem;
    margin: 2rem auto;
  }
  .container-numbers {
    margin: 1rem;
  }

  .number {
    font-size: 4rem;
  }

  #title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .botao h2 {
    font-size: 4rem;
    margin: 3rem auto;
  }

  #container-cronometro {
    height: 60vh;
  }

  #cronometro-visor {
    height: 20vh;
  }

  .number {
    font-size: 6.5rem;
  }

  #title {
    font-size: 5rem;
  }
}
